// Paletton UID: 52P0u0kllll9+-GfFrsr0fey397
darkest-green = #003a00
darker-green = #0f610f
main-green = #2d882d
light-green = #59af59
lighest-green = #92d392

background-gray = #eee

body 
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif
    font-size: 100%
    background-color: background-gray

#status 
    /* avoid an excessively wide status text */
    white-space: pre
    text-overflow: ellipsis
    overflow: hidden
    max-width: 400px
    
button
    color: white
    display: block
    background-color: main-green
    padding: 1rem 2rem
    font-size: 16px
    text-decoration: none
    margin: 1rem 0
    border: none