doctype html
html(lang="en")
    head
        title Quick Graph
        link(rel='stylesheet' href='../css/stylesheet.css')
        script(src='../scripts/Chart.bundle.min.js')
        script(src='../js/popup.min.js')
    body
        h1 Quick Graph
        .input_area
            .input_box
                h3 X Values (Comma Seperated)
                textarea(id='xValues' rows='4' cols='50') 1,2,3,4,5
            .input_box
                h3 Y Values (Comma Seperated)
                textarea(id='yValues' rows='4' cols='50') 7,4,8,3,5
        .radio_buttons
            .radio_button
                input(type="radio" id="1" value = 'scatter' name="radio" checked)
                label(for="1") Scatter
            .radio_button
                input(type="radio" id="2" value = 'line' name="radio")
                label(for="2") Line
        button(id='generateGraph') Generate Graph
        h4(id='message')
        canvas(id='myChart' width='100' height='100')

